body {
    background-color: black;
}

h1, h2, h3, h4, h5, h6, p, label, li {
    color: white;
}

hr {
    background-color: blueviolet;
    height: 10px;
}

.contactform {
    border: solid;
    border-color: gray;
}

.contactsocial {

}

.contactleft {
    padding-right: 10px;
}

.contactright {
    padding-left: 10px;
}

.card {
    background-color: pink;
    margin: 10px;
}

.card-img-top {
    border-radius: 10%;
}

.educationp {
    color: yellow;
}